@page "/"
@rendermode InteractiveServer

    <div class="centered-title">
        <h1>ЗАДАЧИ</h1>
    </div>

    <div class="button-container">
    <NavLink class="btn-link" href="/currentTasks">Просмотр текущих задач</NavLink>
    <NavLink class="btn-link" href="/createTask">Создать новую задачу</NavLink>
    </div>



